
.lg-marvel{
  display: flex;
  justify-content: center;
}

.controller{
  position: absolute!important;
}

.card{
  margin: 10px 0;
}

.img-transform img:hover {
  transition: .3s all ease;
  transform: scale(1.02,1.02);
  filter: invert(1);
  cursor: pointer;

}



