<div class="container" id="characters" style="background-color: rgb(40, 49, 54)">
  <div class="lg-marvel pt-3">
    <img src="../../../../assets/img/marvel-logo.png" style="width: 200px;" alt="">
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
    <div class="col" *ngFor="let character of characters">
      <div class="card animate__bounceIn">
        <img
          src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
          class="card-img-top img-fluid"
          style="height: 300px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
         <!--<p class="card-text">{{ character.description }}</p>-->
        </div>
      </div>
    </div>
  </div>

  <div class="pull-right buttons">
    <button class="btn-hover color">BUTTON</button>
  </div>

</div>

<div class="container-fluid gradient">

</div>


