
  <!--=====================================
  FORM REGISTER TEAM
  ======================================-->

  <div class="container-fluid p-0 bg-white" id="formulario">

    <h2 class="text-uppercase pt-5 text-muted text-center">Arma tu equipo Marvel</h2>

    <div class="container">


        <form class="bg-light p-4 needs-validation" [formGroup]="authForm" (ngSubmit)="saveUser()">

        <h4 class="bg-dark text-white text-center p-2">Datos de tu equipo</h4>

        <div class="form-group">

          <label for="usuario">Nombre de tu Equipo:</label>

          <input type="text" formControlName="user" id="user" class="form-control" placeholder="Nombre de tu Equipo"  name="user"  required>

            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>

        </div>

        <div class="form-group">

          <label for="password">Password</label>

          <input type="password" formControlName="password" id="password" class="form-control" placeholder="Escriba su contraseña con mínimo 5 caracteres y debe incluir letras en mayúscula, en minúscula y números" minlength="5"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" name="password"  required>

          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>

        </div>

        <div class="form-group">

          <label for="description">Descripción de tu Equipo:</label>

          <input type="text" formControlName="description" id="description" class="form-control"  placeholder="Describe tu equipo" name="description"  >

          <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>

        </div>

        <button type="submit" class="btn btn-primary btn-block btnSaveTeam">Enviar</button>

      </form>

    </div>

  </div>

<div class="container-fluid gradient">

</div>
