<app-header></app-header>
<article>
<div class="container">

  <div class="row pt-5 pb-5">
    <div class="col flex-center" *ngFor="let character of characters">
      <div class="col-sm-12 col-md-5">
          <img
          src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
          class="card-img-top img-fluid img-character"
          />
      </div>
      <div class="col-sm-7">
        <h1>{{ character.name }}</h1>
        <p>{{ character.description }}</p>
        <p>Fecha: {{ character.modified }}</p>
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6">
          <div class="buttons">
            <button class="btn-hover color" routerLink="chareters-all">Agregar a mi Equipo</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</article>
